{{define "header"}}
<header class="navbar navbar-expand-md bd-navbar bg-body-tertiary sticky-top">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" alt="UltrasHub Logo" width="30" height="30">
                UltrasHub
            </a>
            <ul class="navbar-nav d-none d-md-flex flex-md-row flex-wrap">
                <li class="nav-item">
                    <a class="nav-link{{if eq .ActiveRoute "/" }} link-primary {{end}}" href="/">
                        Matches
                    </a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav d-none d-md-flex flex-md-row flex-wrap align-items-center">
            <li class="nav-item">
                {{template "themeSwitcher" .}}
            </li>
        </ul>
        {{/*toggles mobile nav slideout*/}}
        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNav"
            aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>

{{/*mobile nav slideout*/}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileNav" aria-labelledby="mobileNavLabel">
    <div class="offcanvas-header">
        <div class="d-flex align-items-center gap-1">
            <img src="/static/img/logo.png" alt="UltrasHub Logo" width="30" height="30">
            <h5 class="offcanvas-title" id="mobileNavLabel">UltrasHub</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column justify-content-between">
        <ul class="navbar-nav d-flex flex-column">
            <li class="nav-item">
                <a class="nav-link{{if eq .ActiveRoute "/" }} link-primary {{end}}" href="/">
                    Matches
                </a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row flex-wrap align-items-center">
            <li class="nav-item">
                {{template "themeSwitcher" .}}
            </li>
        </ul>
    </div>
</div>
{{end}}
