{{define "title"}}{{.Title}}{{end}}

{{define "content"}}
<main class="my-4 container p-sm-0">
    {{if .MatchesTemplateData.Match}}
    {{with .MatchesTemplateData}}
    <div class="card p-0 mb-3">
        <div class="card-body">
            <div class="d-flex flex-row align-items-center text-secondary mb-2 gap-4 flex-wrap">
                {{if .Match.Fixture.Date}}
                <div class="d-flex flex-row align-items-center gap-2">
                    {{template "calendarEventSVG" .}}
                    <small>{{formatMatchDateWithDay .Match.Fixture.Date}}</small>
                </div>
                <div class="d-flex flex-row align-items-center gap-2">
                    {{template "clockSVG" .}}
                    <small>Kick Off: {{formatMatchTime .Match.Fixture.Date}}</small>
                </div>
                {{end}}
                {{if .Match.Fixture.Venue.Name}}
                <div class="d-flex flex-row align-items-center gap-2">
                    {{template "geoAltSVG" .}}
                    <small>{{.Match.Fixture.Venue.Name}}, {{formatVenueCity .Match.Fixture.Venue.City}}</small>
                </div>
                {{end}}
                {{if .Match.Fixture.Referee}}
                <div class="d-flex flex-row align-items-center gap-2">
                    {{template "personSVG" .}}
                    <small>Ref: {{.Match.Fixture.Referee}}</small>
                </div>
                {{end}}
            </div>
            <div class="d-flex flex-row justify-content-between align-items-start mb-2 py-3">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-row align-items-center gap-2">
                        <img src="{{.Match.Teams.Home.Logo}}" width="30px" height="30px"
                            alt="{{.Match.Teams.Home.Name}} Logo" loading="lazy" />
                        <p
                            class="d-none d-sm-block fw-bold fs-3 m-0 text-truncate{{if .Match.Teams.Away.Winner}} text-secondary {{end}}">
                            {{.Match.Teams.Home.Name}}
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2 fw-bold">
                        {{if eq .Match.Fixture.Status.Short "TBD" "NS"}}
                        {{else}}
                        <p class="fs-2 m-0{{if .Match.Teams.Away.Winner}} text-secondary {{end}}">
                            {{.Match.Goals.Home}}
                            {{if eq .Match.Fixture.Status.Short "PEN"}}
                            <span>({{.Match.Score.Penalty.Home}})</span>
                            {{end}}
                        </p>
                        <p class="fs-2 m-0 text-secondary">-</p>
                        <p class="fs-2 m-0{{if .Match.Teams.Home.Winner}} text-secondary {{end}}">
                            {{.Match.Goals.Away}}
                            {{if eq .Match.Fixture.Status.Short "PEN"}}
                            <span>({{.Match.Score.Penalty.Away}})</span>
                            {{end}}
                        </p>
                        {{end}}
                    </div>
                    <div>
                        {{if eq .Match.Fixture.Status.Short "TBD" "NS"}}
                        {{else}}
                        {{template "matchStatus" .Match}}
                        {{end}}
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-row align-items-center gap-2">
                        <p
                            class="d-none d-sm-block fw-bold fs-3 m-0 text-truncate{{if .Match.Teams.Home.Winner}} text-secondary {{end}}">
                            {{.Match.Teams.Away.Name}}
                        </p>
                        <img src="{{.Match.Teams.Away.Logo}}" width="30px" height="30px"
                            alt="{{.Match.Teams.Away.Name}} Logo" loading="lazy" />
                    </div>
                </div>
            </div>
            {{with .MatchGoalEvents}}
            <hr>
            <div class="d-flex flex-row justify-content-between align-items-start">
                <div class="d-flex flex-column gap-3">
                    {{range .HomeTeam.Events}}
                    <div class="d-flex flex-row align-items-start gap-3 flex-wrap">
                        <div class="d-flex flex-row align-items-center gap-1">
                            <img src="/static/img/logo.png" alt="soccer ball" width="17" height="17">
                            <p class="m-0 fw-bold">{{.TimeElapsed}}'</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class='m-0 fw-bold{{if eq .Detail "Own Goal"}} text-danger{{end}}'>
                                {{.Scorer}}
                                {{if eq .Detail "Own Goal"}}
                                <small class="text-secondary fw-normal">(OG)</small>
                                {{end}}
                            </p>
                            {{if .Assister}}
                            <small class="text-secondary">Ast. {{.Assister}}</small>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
                <div class="d-flex flex-column gap-3">
                    {{range .AwayTeam.Events}}
                    <div class="d-flex flex-row align-items-start gap-3">
                        <div class="d-flex flex-row align-items-center gap-1">
                            <img src="/static/img/logo.png" alt="soccer ball" width="17" height="17">
                            <p class="m-0 fw-bold">{{.TimeElapsed}}'</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class='m-0 fw-bold{{if eq .Detail "Own Goal"}} text-danger{{end}}'>
                                {{.Scorer}}
                                {{if eq .Detail "Own Goal"}}
                                <small class="text-secondary fw-normal">(OG)</small>
                                {{end}}
                            </p>
                            {{if .Assister}}
                            <small class="text-secondary">Ast. {{.Assister}}</small>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}

    {{with .MatchesTemplateData}}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {{if eq .Match.Fixture.Status.Short "TBD" "NS" "PST" "CANC"}}
            <button class="nav-link active" id="nav-h2h-tab" data-bs-toggle="tab" data-bs-target="#nav-h2h"
                type="button" role="tab" aria-controls="nav-h2h" aria-selected="true">H2H</button>
            {{else}}
            <button class="nav-link active" id="nav-events-tab" data-bs-toggle="tab" data-bs-target="#nav-events"
                type="button" role="tab" aria-controls="nav-events" aria-selected="true">Events</button>
            <button class="nav-link" id="nav-stats-tab" data-bs-toggle="tab" data-bs-target="#nav-stats" type="button"
                role="tab" aria-controls="nav-stats" aria-selected="false">Stats</button>
            <button class="nav-link" id="nav-lineups-tab" data-bs-toggle="tab" data-bs-target="#nav-lineups"
                type="button" role="tab" aria-controls="nav-lineups" aria-selected="false">Lineups</button>
            <button class="nav-link" id="nav-h2h-tab" data-bs-toggle="tab" data-bs-target="#nav-h2h" type="button"
                role="tab" aria-controls="nav-h2h" aria-selected="false">H2H</button>
            {{end}}
        </div>
    </nav>
    {{end}}
    <div class="tab-content" id="nav-tabContent">
        {{- /* Events */ -}}
        {{with .MatchesTemplateData}}
        <div class='tab-pane fade{{if eq .ActiveTab "Events"}} show active {{end}}' id="nav-events" role="tabpanel"
            aria-labelledby="nav-events-tab" tabindex="0">
            <div class="mt-3">
                <h3>Match Events</h3>
                <div class="d-flex flex-column-reverse gap-1">
                    {{range .Match.Events}}
                    <div class="card p-0">
                        <div class="card-body d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center gap-4">
                                <div class="d-flex flex-row align-items-center gap-2">
                                    {{if eq .Type "Card"}}
                                    {{if eq .Detail "Yellow Card"}}
                                    {{template "squareSVG" "#FFFF00"}}
                                    {{else}}
                                    {{template "squareSVG" "#FF0000"}}
                                    {{end}}
                                    {{else if eq .Type "Goal"}}
                                    <img src="/static/img/logo.png" alt="soccer ball" width="17" height="17">
                                    {{else if eq .Type "subst"}}
                                    {{template "arrowLeftRightSVG" .}}
                                    {{end}}
                                    {{if .Time.Extra}}
                                    <p class="fw-bold m-0">{{.Time.Elapsed}} +{{.Time.Extra}}'</p>
                                    {{else}}
                                    <p class="fw-bold m-0">{{.Time.Elapsed}}'</p>
                                    {{end}}
                                </div>
                                <div class="d-block">
                                    {{if eq .Type "Card"}}
                                    <p class="fw-bold m-0">{{.Player.Name}}</p>
                                    {{else if eq .Type "Goal"}}
                                    <p class='fw-bold m-0{{if eq .Detail "Own Goal"}} text-danger{{end}}'>
                                        {{.Player.Name}}
                                        {{if eq .Detail "Own Goal"}}
                                        <small class="text-secondary fw-normal">(OG)</small>
                                        {{end}}
                                    </p>
                                    {{if .Assist.Name}}
                                    <small class="text-secondary m-0">Ast. {{.Assist.Name}}</small>
                                    {{end}}
                                    {{else if eq .Type "subst"}}
                                    <div class="d-flex flex-row align-items-center gap-2">
                                        {{template "arrowLeftSVG" .}}
                                        <small>Player off <span class="fs-6 fw-bold">{{.Player.Name}}</span></small>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gap-2">
                                        {{template "arrowRightSVG" .}}
                                        <small>Player on <span class="fs-6 fw-bold">{{.Assist.Name}}</span></small>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <div>
                                <img src="{{.Team.Logo}}" width="30px" height="30px" alt="{{.Team.Name}} Logo"
                                    loading="lazy" class="object-fit-contain" />
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}

        {{- /* Stats */ -}}
        <div class="tab-pane fade" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab" tabindex="0">
            {{if gt (len .MatchesTemplateData.Match.Stats) 0}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        {{with index .MatchesTemplateData.Match.Stats 0}}
                        <th>
                            <div class="d-flex flex-row justify-content-center align-items-center text-center gap-2">
                                <h3 class="m-0 d-none d-md-block">{{.Team.Name}}</h3>
                                <img src="{{.Team.Logo}}" alt="{{.Team.Name}} logo" width="50px" height="50px"
                                    class="object-fit-contain">
                            </div>
                        </th>
                        {{end}}
                        <th></th>
                        {{with index .MatchesTemplateData.Match.Stats 1}}
                        <th>
                            <div class="d-flex flex-row justify-content-center align-items-center text-center gap-2">
                                <img src="{{.Team.Logo}}" alt="{{.Team.Name}} logo" width="50px" height="50px"
                                    class="object-fit-contain">
                                <h3 class="m-0 d-none d-md-block">{{.Team.Name}}</h3>
                            </div>
                        </th>
                        {{end}}
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{range $type, $stat := .MatchesTemplateData.StatsData}}
                    <tr>
                        <td class="text-center">{{$stat.HomeTeam}}</td>
                        <td class="fs-5 fw-bold text-center">{{$type}}</td>
                        <td class="text-center">{{$stat.AwayTeam}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            {{else}}
            <div class="mt-3">
                <p class="m-0">No match statistics data found for {{.Title}}!</p>
            </div>
            {{end}}
        </div>
        {{- /* Lineups */ -}}
        <div class="tab-pane fade" id="nav-lineups" role="tabpanel" aria-labelledby="nav-lineups-tab" tabindex="0">
            <div class="row mt-2">
                {{with .MatchesTemplateData.FormationData}}
                <div class="col-md-6 d-none d-md-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div class="text-secondary">
                            {{.Home.Formation}}
                        </div>
                        <div>
                            <img src="{{.Home.Logo}}" alt="{{.Home.Name}} logo" width="30px" height="30px"
                                class="object-fit-contain">
                        </div>
                        <div></div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center gap-4 mb-3">
                        {{range $pos, $player := .Home.Players}}
                        <div class="row">
                            <div class="col d-flex flex-column-reverse gap-3">
                                {{range .}}
                                <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{.Name}}"
                                    class="d-flex justify-content-center align-items-center p-3"
                                    style="width: 25px; height: 25px; background-color: #{{.Colors.Primary}}; color: #{{.Colors.Number}}; border-radius: 50%; border: 2px solid #{{.Colors.Border}};">
                                    {{.Number}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row-reverse align-items-center justify-content-center gap-4 mb-3">
                        {{range $pos, $player := .Away.Players}}
                        <div class="row">
                            <div class="col d-flex flex-column gap-3">
                                {{range .}}
                                <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{.Name}}"
                                    class="d-flex justify-content-center align-items-center p-3"
                                    style="width: 25px; height: 25px; background-color: #{{.Colors.Primary}}; color: #{{.Colors.Number}}; border-radius: 50%; border: 2px solid #{{.Colors.Border}};">
                                    {{.Number}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                        {{end}}
                    </div>
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div class="text-secondary">
                            {{.Away.Formation}}
                        </div>
                        <div>
                            <img src="{{.Away.Logo}}" alt="{{.Away.Name}} logo" width="30px" height="30px"
                                class="object-fit-contain">
                        </div>
                        <div></div>
                    </div>
                </div>
                <hr class="d-none d-md-block">
                {{end}}
                {{range .MatchesTemplateData.Match.Lineups}}
                <div class="col-12 col-md-6">
                    <div class="mt-2 d-flex flex-row align-items-center gap-2">
                        <img src="{{.Team.Logo}}" alt="{{.Team.Name}} logo" width="50px" height="50px"
                            class="object-fit-contain">
                        <p class="m-0 fs-3 fw-bold">{{.Team.Name}}</p>
                    </div>
                    <hr>
                    <div class="mt-2">
                        <p class="m-0 fs-5">Starting XI</p>
                        {{range .StartXI}}
                        <div class="d-flex flex-row align-items-center gap-3">
                            <p class="text-secondary fs-6 m-0" style="width: 25px;">{{.Player.Number}}</p>
                            <p class="m-0">{{.Player.Name}}</p>
                        </div>
                        {{end}}
                    </div>
                    <hr>
                    <div class="mt-2">
                        <p class="m-0 fs-5">Substitutions</p>
                        {{range .Substitutes}}
                        <div class="d-flex flex-row align-items-center gap-3">
                            <p class="text-secondary fs-6 m-0" style="width: 25px;">{{.Player.Number}}</p>
                            <p class="m-0">{{.Player.Name}}</p>
                        </div>
                        {{end}}
                    </div>
                    <hr>
                    <div class="mt-2">
                        <p class="m-0 fs-5">Manager</p>
                        <div class="d-flex flex-row align-items-center">
                            <p class="m-0">{{.Coach.Name}}</p>
                        </div>
                    </div>
                    <hr>
                </div>
                {{else}}
                <div class="mt-2">
                    <p class="m-0">No lineup data found for {{.Title}}!</p>
                </div>
                {{end}}
            </div>
        </div>
        {{- /* H2H */ -}}
        <div class='tab-pane fade{{if eq .MatchesTemplateData.ActiveTab "H2H"}} show active {{end}}' id="nav-h2h"
            role="tabpanel" aria-labelledby="nav-h2h-tab" tabindex="0">
            <div class="row g-2 mt-2">
                {{range .MatchesTemplateData.H2HMatches}}
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <a href="/matches/id/{{.Fixture.ID}}" class="text-body text-decoration-none">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between align-items-center flex-wrap mb-3">
                                    <p class="text-secondary m-0">{{formatMatchDate .Fixture.Date}}</p>
                                    <p class="text-secondary m-0">{{.League.Country}} {{.League.Name}}</p>
                                </div>
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <div class="d-flex flex-row align-items-center gap-2">
                                        <img src="{{.Teams.Home.Logo}}" width="30px" height="30px"
                                            alt="{{.Teams.Home.Name}} logo" class="object-fit-contain">
                                        <p
                                            class="card-text d-none d-sm-block{{if .Teams.Away.Winner}} text-secondary {{end}}">
                                            {{.Teams.Home.Name}}</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gap-2">
                                        <p class="fs-5 m-0{{if .Teams.Away.Winner}} text-secondary {{end}}">
                                            {{.Goals.Home}}
                                            {{if eq .Fixture.Status.Short "PEN"}}
                                            <span>({{.Score.Penalty.Home}})</span>
                                            {{end}}
                                        </p>
                                        <p class="m-0 fs-3 text-secondary">-</p>
                                        <p class="fs-5 m-0{{if .Teams.Home.Winner}} text-secondary {{end}}">
                                            {{.Goals.Away}}
                                            {{if eq .Fixture.Status.Short "PEN"}}
                                            <span>({{.Score.Penalty.Away}})</span>
                                            {{end}}
                                        </p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gap-2">
                                        <p
                                            class="card-text m-0 d-none d-sm-block{{if .Teams.Home.Winner}} text-secondary {{end}}">
                                            {{.Teams.Away.Name}}</p>
                                        <img src="{{.Teams.Away.Logo}}" width="30px" height="30px"
                                            alt="{{.Teams.Away.Name}} logo" class="object-fit-contain">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{else}}
                <div class="mt-2">
                    <p class="m-0">No head-to-head data found for {{.Title}}!</p>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    {{else}}
    <div>
        <p class="text-danger">No match details are available. Try again later!</p>
    </div>
    {{end}}
</main>
{{end}}
