{{define "title"}}{{.Title}}{{end}}

{{define "content"}}
<main class="my-4 container p-sm-0">
    {{if .MatchesTemplateData.Match}}
    {{- /* Display match details like teams, teams logo, score, etc */ -}}
    {{else}}
    <div>
        <p class="text-danger">No match details are available. Try again later!</p>
    </div>
    {{end}}

    {{if .MatchesTemplateData.Match}}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {{if eq .MatchesTemplateData.Match.Fixture.Status.Short "TBD" "NS" "PST" "CANC"}}
            <button class="nav-link active" id="nav-h2h-tab" data-bs-toggle="tab" data-bs-target="#nav-h2h"
                type="button" role="tab" aria-controls="nav-h2h" aria-selected="true">H2H</button>
            {{else}}
            <button class="nav-link active" id="nav-events-tab" data-bs-toggle="tab" data-bs-target="#nav-events"
                type="button" role="tab" aria-controls="nav-events" aria-selected="true">Events</button>
            <button class="nav-link" id="nav-stats-tab" data-bs-toggle="tab" data-bs-target="#nav-stats" type="button"
                role="tab" aria-controls="nav-stats" aria-selected="false">Stats</button>
            <button class="nav-link" id="nav-lineups-tab" data-bs-toggle="tab" data-bs-target="#nav-lineups"
                type="button" role="tab" aria-controls="nav-lineups" aria-selected="false">Lineups</button>
            <button class="nav-link" id="nav-h2h-tab" data-bs-toggle="tab" data-bs-target="#nav-h2h"
                type="button" role="tab" aria-controls="nav-h2h" aria-selected="false">H2H</button>
            {{end}}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade{{if eq .MatchesTemplateData.ActiveTab "Events"}} show active {{end}}" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab" tabindex="0">
            Hello from events tab
        </div>
        <div class="tab-pane fade" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab" tabindex="0">
            Hello from stats tab
        </div>
        <div class="tab-pane fade" id="nav-lineups" role="tabpanel" aria-labelledby="nav-lineups-tab" tabindex="0">
            Hello from lineups tab
        </div>
        <div class="tab-pane fade{{if eq .MatchesTemplateData.ActiveTab "H2H"}} show active {{end}}" id="nav-h2h" role="tabpanel" aria-labelledby="nav-h2h-tab" tabindex="0">
            Hello from h2h tab
        </div>
    </div>
    {{end}}
</main>
{{end}}
